aenum==3.1.15
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
anyio @ file:///C:/ci/anyio_1644481856696/work/dist
anywidget @ file:///home/conda/feedstock_root/build_artifacts/anywidget_1719028522224/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569876605/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
atomicwrites==1.4.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall==0.2.0
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3 @ file:///C:/b/abs_f3o96l_h5j/croot/boto3_1714473566295/work
botocore @ file:///C:/b/abs_07yl5ync8r/croot/botocore_1722996042623/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1708360961663/work
branca @ file:///C:/b/abs_5fic0q0ykh/croot/branca_1675157632359/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools @ file:///C:/b/abs_792zbtc0ua/croot/cachetools_1713977157919/work
Cartopy==0.23.0
certifi==2024.7.4
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
cftime @ file:///C:/b/abs_89e25yd05l/croot/cftime_1678830383263/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///D:/bld/click_1692312014553/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colour==0.1.5
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contextily==1.6.0
contourpy @ file:///C:/b/abs_d5rpy288vc/croots/recipe/contourpy_1663827418189/work
cryptography @ file:///C:/b/abs_97lgskwerx/croot/cryptography_1714664736250/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dask @ file:///C:/b/abs_b0it6fcs79/croot/dask-core_1715838625158/work
dataclasses-json==0.6.7
datacube @ file:///home/conda/feedstock_root/build_artifacts/datacube_1719963968929/work
debugpy @ file:///D:/bld/debugpy_1719378820880/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecat @ file:///home/conda/feedstock_root/build_artifacts/deprecat_1653044502293/work
distributed @ file:///C:/b/abs_27jqurd3gk/croot/distributed_1715844512065/work
distro==1.9.0
docopt==0.6.2
duckdb @ file:///D:/bld/python-duckdb-split_1717684939373/work/tools/pythonpkg
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
folium @ file:///C:/b/abs_da1gvm65eq/croot/folium_1675353720461/work
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
fsspec @ file:///C:/b/abs_d5jzmndkba/croot/fsspec_1714461594761/work
GDAL==3.9.1
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1715510831822/work
GeoAlchemy2 @ file:///tmp/build/80754af9/geoalchemy2_1626298880870/work
geogif @ file:///home/conda/feedstock_root/build_artifacts/geogif_1716356451501/work
geographiclib==2.0
geojson @ file:///home/conda/feedstock_root/build_artifacts/geojson_1699269511365/work
geomet==1.1.0
geopandas==1.0.1
geopy==2.4.1
greenlet @ file:///C:/b/abs_a6c75ie0bc/croot/greenlet_1702060012174/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
html2text==2024.2.26
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.34.2
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1721856510709/work
ipyevents @ file:///home/conda/feedstock_root/build_artifacts/ipyevents_1692625602943/work
ipyfilechooser @ file:///home/conda/feedstock_root/build_artifacts/ipyfilechooser_1631745918830/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipyleaflet @ file:///C:/b/abs_2enmieg81x/croot/ipyleaflet_1701104615427/work
ipysheet @ file:///home/conda/feedstock_root/build_artifacts/ipysheet_1669647249569/work
ipython==8.12.3
ipytree @ file:///home/conda/feedstock_root/build_artifacts/ipytree_1661272736017/work
ipyvue @ file:///home/conda/feedstock_root/build_artifacts/ipyvue_1713517262033/work
ipyvuetify @ file:///home/conda/feedstock_root/build_artifacts/ipyvuetify_1712675819092/work
ipywidgets @ file:///C:/b/abs_25rsd7yhd4/croot/ipywidgets_1709575117021/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
jmespath @ file:///C:/b/abs_59jpuaows7/croot/jmespath_1700144635019/work
joblib==1.4.2
JPype1==1.5.0
Js2Py @ file:///C:/b/abs_af3qw9zejy/croot/js2py_1679573653982/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter-events @ file:///C:/b/abs_c2m9s5b5m5/croot/jupyter_events_1718738115254/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257272359/work
jupyter_server @ file:///C:/b/abs_9a333nh6yu/croot/jupyter_server_1718827092223/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_43venm28fu/croot/jupyterlab_1706802651134/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///C:/b/abs_62picw9xos/croot/jupyterlab_widgets_1709323131962/work
jupyterlab_server @ file:///C:/b/abs_e08i7qn9m8/croot/jupyterlab_server_1699555481806/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lark @ file:///C:/b/abs_4cv9a9h7f4/croots/recipe/lark_1663951725626/work
leafmap @ file:///home/conda/feedstock_root/build_artifacts/leafmap_1723075825752/work
lmdb @ file:///C:/b/abs_556ronuvb2/croot/python-lmdb_1682522366268/work
locket @ file:///C:/ci/locket_1652904090946/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mercantile==1.2.1
mistune @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_081kimkskf/croots/recipe/mistune_1661496225923/work
msgpack @ file:///C:/ci/msgpack-python_1652348582618/work
mypy-extensions==1.0.0
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert==7.16.4
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
netCDF4 @ file:///D:/bld/netcdf4_1718724232265/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numpy @ file:///D:/bld/numpy_1707225570061/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=6761da75b1528684e6bf4dabdbdded9d1eb4d0e9b299482c7ce152cfb3155106
oauthlib==3.2.2
odc-geo @ file:///home/conda/feedstock_root/build_artifacts/odc-geo_1721211098604/work
odc-io @ file:///home/conda/feedstock_root/build_artifacts/odc-io_1700095595882/work
odc-stac @ file:///home/conda/feedstock_root/build_artifacts/odc-stac_1719873181514/work
opencv-python==4.10.0.84
openpyxl==3.1.5
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///D:/bld/pandas_1715897730709/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
partd @ file:///C:/b/abs_46awex0fd7/croot/partd_1698702622970/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///D:/bld/pillow_1719903664201/work
pipreqs==0.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly @ file:///C:/b/abs_9asyl7560v/croot/plotly_1718136949929/work
ply==3.11
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
pscript @ file:///tmp/build/80754af9/pscript_1609862358396/work
psutil @ file:///D:/bld/psutil_1719274706785/work
psycopg2 @ file:///D:/bld/psycopg2-split_1701737597243/work
psygnal @ file:///home/conda/feedstock_root/build_artifacts/psygnal_1715085582749/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyCRS==1.0.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyjsparser @ file:///C:/b/abs_fdmp31r3qy/croots/recipe/pyjsparser_1663891669862/work
pyogrio==0.9.0
pyOpenSSL @ file:///C:/b/abs_baj0aupznq/croot/pyopenssl_1708380486701/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyshp @ file:///C:/b/abs_09wbovc984/croot/pyshp_1706101001476/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pystac @ file:///home/conda/feedstock_root/build_artifacts/pystac_1714752034200/work
pystac-client @ file:///home/conda/feedstock_root/build_artifacts/pystac-client_1721721334713/work
python-box @ file:///D:/bld/python-box_1718251552425/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==306
pywinpty @ file:///C:/b/abs_73vshmevwq/croot/pywinpty_1677609966356/work/target/wheels/pywinpty-2.0.10-cp310-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///D:/bld/pyzmq_1715024531233/work
rasterio==1.3.10
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex @ file:///C:/b/abs_684joz_1gi/croot/regex_1723064412269/work
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
requests-oauthlib==2.0.0
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rioxarray==0.17.0
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
ruamel.yaml @ file:///C:/b/abs_30ee5qbthd/croot/ruamel.yaml_1666304562000/work
ruamel.yaml.clib @ file:///C:/b/abs_aarblxbilo/croot/ruamel.yaml.clib_1666302270884/work
s3transfer @ file:///C:/b/abs_adqguval8n/croot/s3transfer_1714464471685/work
scipy==1.14.0
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1714897440316/work
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
sentinelhub==3.10.2
sentinelsat==1.2.1
shapely @ file:///D:/bld/shapely_1720886336667/work
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
snuggs==1.4.7
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy @ file:///C:/b/abs_f68rk73vhw/croot/sqlalchemy_1704389200325/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
tabula==1.0.5
tabula-py==2.9.3
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///C:/b/abs_d2_havtscu/croot/tenacity_1721222514290/work
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
tifffile==2024.7.24
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tomli_w==1.0.0
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
tornado @ file:///D:/bld/tornado_1717722834267/work
tqdm @ file:///C:/b/abs_a7h7n45ccq/croot/tqdm_1716395987133/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
traittypes @ file:///C:/b/abs_c91r5by027/croot/traittypes_1701097444623/work
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal @ file:///C:/b/abs_42w4rm077n/croot/tzlocal_1715108859396/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3 @ file:///C:/b/abs_eeswtzv5iq/croot/urllib3_1718978558630/work
utm==0.7.0
watchfiles @ file:///C:/b/abs_46ka9wqoov/croot/watchfiles_1700601334608/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
whitebox @ file:///home/conda/feedstock_root/build_artifacts/whitebox_1721112900965/work
whiteboxgui @ file:///home/conda/feedstock_root/build_artifacts/whiteboxgui_1680061160584/work
widgetsnbextension @ file:///C:/b/abs_a84ycxud7_/croot/widgetsnbextension_1709322945280/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wrapt @ file:///C:/Windows/Temp/abs_7c3dd407-1390-477a-b542-fd15df6a24085_diwiza/croots/recipe/wrapt_1657814452175/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1722348170975/work
xyzservices @ file:///C:/b/abs_8bh3h2qh76/croot/xyzservices_1675159066824/work
yarg==0.1.9
zict @ file:///C:/b/abs_780gyydtbp/croot/zict_1695832899404/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
